<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="ft_logo">
            <a href="/">
              <img src="/img/logo.svg" title="logo">
            </a>
          </div>
          <p>WhatsApp: (11) 9 5309-0909</p>
          <p>Email: contato@vconsulting.com.br</p>
        </div>
        <div class="col-md-4">
          <h2>Links úteis</h2>
          <ul>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Termos e Condições</a></li>
            <li><a href="#">Dúvidas Frequentes</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Redes Sociais</h2>
          <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">LinkTree</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="progress-wrap active-progress">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
     <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 114.346;"></path>
    </svg>
    <i class="fa-solid fa-arrow-up"></i>
   </div>
  
  <script src="js/script.js" type="text/javascript" defer></script>