<header>
    <div class="hbox">
      <div id="logo">
    <a href="/">
      <img src="/img/logo.svg" title="logo">
    </a>
  </div>
      <nav id="navDesk">
      <a href="/" title="Home">Home</a>
      <a href="/sobre">Empresa</a>
      <a class="linkService" href="#service">Serviços</a>
      <a class="destaque" href="http://wa.me/5511953090909" target="_blank" title="Fale com especialista">Fale com especialista</a>
      </nav>
  
  <div class="menu-mobile">
    <i class="fa-regular fa-bars"></i>
  </div>
  
    </div>
  
    <nav class="menu-mobile-content">
  
    <div class="close-menu">
      <i class="fa-solid fa-xmark"></i>
    </div>
      <a href="/" title="Home">Home</a>
      <a href="/sobre">Empresa</a>
      <a class="linkService" href="#service">Serviços</a>
      <a class="destaque" href="http://wa.me/5511953090909" target="_blank" title="Fale com especialista">Fale com especialista</a>
    </nav>
  
  </header>

  <div id="topfixed"></div>

  <div class="background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 800" width="100%" height="100%" preserveAspectRatio="none">
      <!-- Define o padrão com a imagem -->
      <defs>
        <pattern id="imagePattern" patternUnits="userSpaceOnUse" width="1440" height="800">
          <image href="/img/bg.webp" x="0" y="0" width="1440" height="800" preserveAspectRatio="none"></image>
        </pattern>
      </defs>
    
      <!-- Aplicar o padrão à forma ondulada -->
      <path fill="url(#imagePattern)" d="M 0 192 C 236 201 429 256 690 450 s 512 252 753 24 L 1440 0 L 1392 0 C 1344 0 1248 0 1152 0 C 1056 0 960 0 864 0 C 768 0 672 0 576 0 C 480 0 384 0 288 0 C 192 0 96 0 48 0 L 0 0 Z"></path>
    </svg>

  </div>