<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no">
  <meta name="theme-color" content="#352755">
  <title>VCONSULTING</title>
  <link rel="shortcut icon" type="image/png" href="/img/favicon.webp">
  <meta name="description" content="Com uma abordagem totalmente personalizada e envolvente, trabalho lado a lado com você, proprietário, mergulhando fundo no contexto atual da sua empresa e nas suas metas pessoais. ">

  <link href="/css/fonts.css" rel="stylesheet" as="font">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/fontawesome.min.css?v=2024">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/light.css?v=2024">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/brands.min.css?v=2024">  
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/thin.min.css?v=2024">  

  <noscript>
  <link rel="stylesheet" href="/css/fontawesome.min.css?v=2024">
  <link rel="stylesheet" href="/css/light.css?v=2024">
  <link rel="stylesheet" href="/css/brands.min.css?v=2024">
  <link rel="stylesheet" href="/css/thin.min.css?v=2024">
  </noscript>

  <link rel="preload" href="/css/style.css" as="style">
  <link href="/css/style.css" type="text/css" rel="stylesheet">

  <link href="/js/script.js" rel="preload" as="script">

  </head>
  <body>

<header>
  <div class="hbox">
    <div id="logo">
  <a href="/">
    <img src="/img/logo.svg" title="logo">
  </a>
</div>
    <nav id="navDesk">
    <a href="#product">Produtos</a>
    <a href="#">Empresa</a>
    <a class="destaque" href="#">WhatsApp</a>
    </nav>

<div class="menu-mobile">
  <i class="fa-regular fa-bars"></i>
</div>

  </div>

  <nav class="menu-mobile-content">

  <div class="close-menu">
    <i class="fa-solid fa-xmark"></i>
  </div>

    <a href="#product">Produtos</a>
    <a href="#business">Empresa</a>
    <a class="destaque" href="#contact">Contato</a>
  </nav>

</header>

<main>

  <div class="background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 800" width="100%" height="100%" preserveAspectRatio="none">
      <!-- Define o padrão com a imagem -->
      <defs>
        <pattern id="imagePattern" patternUnits="userSpaceOnUse" width="1440" height="800">
          <image href="/img/bg.webp" x="0" y="0" width="1440" height="800" preserveAspectRatio="none"></image>
        </pattern>
      </defs>
    
      <!-- Aplicar o padrão à forma ondulada -->
      <path fill="url(#imagePattern)" d="M 0 192 C 236 201 429 256 690 450 s 512 252 753 24 L 1440 0 L 1392 0 C 1344 0 1248 0 1152 0 C 1056 0 960 0 864 0 C 768 0 672 0 576 0 C 480 0 384 0 288 0 C 192 0 96 0 48 0 L 0 0 Z"></path>
    </svg>

  </div>

<div class="container">

<section class="autor">
<div class="aut_title">
<div class="aut_text">
<h1>Minha história</h1>
<h2>
  Olá, eu sou a Vanessa, formada em Administração pela FGV, 
  com uma trajetória de 20 anos em grandes corporações multinacionais 
  e os últimos 8 anos dedicados exclusivamente à consultoria para pequenas empresas. Minha verdadeira paixão é pegar desafios e transformá-los em oportunidades vibrantes, levando seu negócio a novos horizontes! 
  <span id="verMais" style="display: none;">
    <br><br>
    Com uma abordagem totalmente personalizada e envolvente, trabalho lado a lado com você, proprietário, mergulhando fundo no contexto atual da sua empresa e nas suas metas pessoais. Meu compromisso é garantir que cada transformação e adaptação seja realizada de forma fluida e eficaz, proporcionando a confiança e o suporte que você merece. 
    <br><br>
    Com meu apoio constante e próximo, você vai sentir a diferença em cada passo dessa jornada. Juntos, vamos não só ajustar estratégias, mas criar um futuro brilhante e promissor para sua empresa. Vamos fazer essa transição com entusiasmo e alcançar novos patamares de sucesso! 
  </span>
  <a href="#" onclick="document.getElementById('verMais').style.display='inline'; this.style.display='none';">Ver mais...</a>
</h2>

</div>

</div>
<img src="\img\woman.webp">
</section>

<section id="service">
  <div class="sbox s1">
  
  <ul><span class="stitle">Assessoria Personalizada e Ativa </span>
    <li>Aqui, você nunca estará sozinho!  Enquanto você e sua equipe assimilam o novo sistema, 
      estarei ao seu lado em cada passo do caminho. </li>
      <li>Minha missão é estar presente, ajudando e guiando diretamente, 
        para que cada mudança ocorra de forma suave e eficaz.</li>
    <li class="hidden">  Minha assessoria é totalmente personalizada e atuante, focada em garantir que sua empresa se adapte ao novo modelo ou conceito de trabalho com total confiança.</li>
    <li class="hidden">Com meu apoio constante e pessoal, você terá a certeza de que todas as transformações são realizadas de acordo com suas necessidades e expectativas, garantindo que sua empresa prospere e se ajuste perfeitamente ao novo cenário. Vamos juntos fazer essa transição com sucesso e alcançar novos patamares! </li>
    
  </ul><button id="showMoreBtn1" class="toggleBtn">Mostrar Mais</button>
</div>

<div class="sbox s2">
  
  <ul><span class="stitle">Consultoria Administrativa e Financeira </span>
    <li><span>Análise Completa:</span> Vamos dar uma olhada em como você está tocando os procedimentos administrativos e financeiros para encontrar formas de deixar tudo mais eficiente.</li>
    <li><span>Fluxo de Caixa:</span> Criamos um fluxo de caixa operacional para você ter o controle total das suas finanças.</li>
    <li class="hidden"><span>Planejamento Financeiro:</span> Fazemos cálculos estimativos de receitas, despesas, custos e salários para garantir que tudo esteja no caminho certo.</li>
    <li class="hidden"><span>Projeções:</span> Analisamos o futuro financeiro e operacional da sua empresa para que você possa se planejar com confiança.</li>
    <li class="hidden"><span>Indicadores de Viabilidade:</span> Calculamos os números chave como Ponto de Equilíbrio, Lucratividade, Margem de Contribuição e ROI para você tomar decisões bem-informadas.</li>
    <li class="hidden"><span>Oportunidades de Mercado:</span> Identificamos novas chances para expandir seus produtos e serviços.</li>
    <li class="hidden"><span>Demonstração de Resultados:</span> Montamos o DRE (Demonstração de Resultados do Exercício) mensal para acompanhar como as coisas estão indo.</li>
    <li class="hidden"><span>Dashboard Personalizado:</span> Criamos um dashboard com os principais indicadores para você ter uma visão clara do desempenho da sua empresa.</li>
    <li class="hidden"><span>Treinamentos:</span> Oferecemos treinamentos sobre controle financeiro para sua equipe ficar afiada.</li>
    <li class="hidden"><span>Valor da Empresa:</span> Calculamos o valor presente da sua empresa para te ajudar a tomar decisões estratégicas.</li>
    
  </ul><button id="showMoreBtn2" class="toggleBtn">Mostrar Mais</button>
</div>

<div class="sbox s3">

  <ul>  <span class="stitle">Contabilidade</span>
    <li><span>Abertura e Encerramento de empresas  </span>

    Apoio completo para iniciar ou fechar empresas, garantindo processos ágeis e legais.  
    </li>
    <li><span>Folha de Pagamento</span>  
    Gestão simplificada de salários e benefícios, assegurando o cumprimento das obrigações trabalhistas.  
    </li>
    <li class="hidden"> <span> Imposto de Renda Pessoa Física (IRPF)  </span>

    Declaração de IRPF feita por especialistas para otimizar retornos e evitar problemas fiscais.  
    </li>
    <li class="hidden"><span>Escrituração Contábil  </span>

    Registros contábeis precisos e atualizados para embasar decisões empresariais.  
    </li>
    <li class="hidden"> <span> Certificado Digital  </span>

    Emissão de certificados digitais para transações online seguras e ágeis.  
    </li>
    <li class="hidden"><span>Transforme seu MEI  </span>

    Migre do MEI para outras modalidades empresariais com a Contabilidade Evoluir. Oferecemos suporte completo para uma transição segura e eficiente. 
  </li>
    
  </ul><button id="showMoreBtn3" class="toggleBtn">Mostrar Mais</button>

</div>

</section>

</div>
</main>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Contato</h2>
        <p>Endereço: Rua das Flores Nº 123</p>
        <p>Telefone: (11) 99999-9999</p>
        <p>Email: contato@vconsulting.com.br</p>
      </div>
      <div class="col-md-4">
        <h2>Links úteis</h2>
        <ul>
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Termos e Condições</a></li>
          <li><a href="#">Dúvidas Frequentes</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Redes Sociais</h2>
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">WhatsApp</a></li>
          <li><a href="#">LinkTree</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="progress-wrap active-progress">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
   <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 114.346;"></path>
  </svg>
  <i class="fa-solid fa-arrow-up"></i>
 </div>

<script src="js/script.js" type="text/javascript" defer></script>

</body>
</html>