<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no">
  <meta name="theme-color" content="#352755">
  <title>Tag Chic</title>
  <link rel="shortcut icon" type="image/png" href="/img/favicon.webp">
  <meta name="description" content="">

  <link href="/css/fonts.css" rel="stylesheet" as="font">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/fontawesome.min.css?v=2024">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/light.css?v=2024">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/brands.min.css?v=2024">  
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/thin.min.css?v=2024">  

  <noscript>
  <link rel="stylesheet" href="/css/fontawesome.min.css?v=2024">
  <link rel="stylesheet" href="/css/light.css?v=2024">
  <link rel="stylesheet" href="/css/brands.min.css?v=2024">
  <link rel="stylesheet" href="/css/thin.min.css?v=2024">
  </noscript>

  <link rel="preload" href="/css/style.css" as="style">
  <link href="/css/style.css" type="text/css" rel="stylesheet">

  <link href="/js/script.js" rel="preload" as="script">

  </head>
  <body>

<header>
<img class="logo" src="/img/logo.svg">
<nav>
  <a href="https://www.instagram.com/atagchic/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a>
  <a href="http://wa.me/5516991725159" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
</nav>
</header>

<main>
<div class="container">

<section id="top">
<div class="tag_box">
<img class="tag" src="/img/tag.svg">
</div>
<div class="tag_title">
  <div class="toptitle t1">De um</div>
  <div class="toptitle t2">UP</div>
  <div class="toptitle t3">em seu produto!</div>
  <div class="t4"><a class="btn" href="http://wa.me/5516991725159" target="_blank">Quero minha TAG</a></div>
</div>
<img class="grid grid0" src="/img/tag_bg.png">
<img class="grid grid1" src="/img/girl.webp">
</section>

<section id="product">
<h1 id="headline">Seu produto em destaque!</h1>
<div class="box_img">
<div class="prBox"><div class="img img1"></div><span>Anel</span></div>
<div class="prBox"><div class="img img2"></div><span>Berloque</span></div>
<div class="prBox"><div class="img img3"></div><span>Brinco</span></div>
<div class="prBox"><div class="img img4"></div><span>Conjunto</span></div>
<div class="prBox"><div class="img img5"></div><span>Trio</span></div>
</div>
</section>

<section class="ct_box">
<div id="ft_box">
  <i class="fa-thin fa-gem"></i>
<div class="ft_info">
<h1>Tags diversas</h1>   
<h2>
Aqui, oferecemos uma ampla variedade de tags personalizadas para suas joias favoritas, incluindo anéis, berloques, brincos, conjuntos, trios e roupas. 
<br><br>Nossas tags são feitas com materiais de alta qualidade e design elegante, garantindo que suas peças fiquem ainda mais sofisticadas e organizadas. 
<br><br>Perfeitas para quem valoriza cada detalhe, nossas tags são a escolha ideal para destacar a beleza de seus produtos. Explore nossa coleção e encontre a tag perfeita para cada peça.
</h2>
<div class="btn_info"><a class="btn" href="http://wa.me/5516991725159" target="_blank">Quero minha TAG</a></div>

</div>
</div>
</section>

</div>
</main>

<footer>
<div class="container">

<section id="contact">
  <section id="copyright">

    <div class="c_icon">
      <a href="https://www.instagram.com/atagchic/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="http://wa.me/5516991725159" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>

    <span>GESTGATE 2024 © Todos os direitos reservados</span>
    <span>Desenvolvido por: <a href="https://warts.com.br/" target="_blank">WART</a></span>
  </section>
</section>

</div>
</footer>

<div class="progress-wrap active-progress">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
   <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 114.346;"></path>
  </svg>
  <i class="fa-solid fa-arrow-up"></i>
 </div>

<script src="js/script.js" type="text/javascript" defer></script>

</body>
</html>