<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no">
  <meta name="theme-color" content="#352755">
  <title>Tag Chic</title>
  <link rel="shortcut icon" type="image/png" href="/img/favicon.webp">
  <meta name="description" content="">

  <link href="/css/fonts.css" rel="stylesheet" as="font">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/fontawesome.min.css?v=2024">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/light.css?v=2024">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="/css/brands.min.css?v=2024">  

  <noscript>
  <link rel="stylesheet" href="/css/fontawesome.min.css?v=2024">
  <link rel="stylesheet" href="/css/light.css?v=2024">
  <link rel="stylesheet" href="/css/brands.min.css?v=2024">
  </noscript>

  <link rel="preload" href="/css/style.css" as="style">
  <link href="/css/style.css" type="text/css" rel="stylesheet">

  <link href="/js/script.js" rel="preload" as="script">

  </head>
  <body>

<header>
<img class="logo" src="/img/logo.svg">
<nav>
  <a href="https://www.instagram.com/atagchic/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a>
  <a href="http://wa.me/5516991725159" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
</nav>
</header>

<main>
<div class="container">

<section id="top">
<div class="tag_box">
<img class="tag" src="/img/tag.svg">
</div>
<div class="tag_title">
  <div class="toptitle t1">De um</div>
  <div class="toptitle t2">UP</div>
  <div class="toptitle t3">em seu produto!</div>
  <div class="t4"><a class="btn" href="http://wa.me/5516991725159" target="_blank">Quero minha TAG</a></div>
</div>
<img class="grid grid0" src="/img/tag_bg.png">
<img class="grid grid1" src="/img/girl.webp">
</section>

</div>
</main>

<footer>
<div class="container">

    

</div>
</footer>

<div class="progress-wrap active-progress">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
   <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 114.346;"></path>
  </svg>
  <i class="fa-solid fa-arrow-up"></i>
 </div>

<script src="js/script.js" type="text/javascript" defer></script>

</body>
</html>