:root {
    --primary: #555555;
    --sec: #00c2ff;
    --w: #fff;
    --black: #000;  
    --dark: #1A1A1A;
    --border_opacity: #ffffff1f;
    --br: 20px;
    --br_button: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--dark);
    border-radius: var(--br);
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
  }
  html {
    scroll-behavior: smooth; 
    overflow: overlay;
  }
body {
    background: linear-gradient(99deg, #595959, #2f2f2f);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--w);
    box-sizing: border-box;
    overflow-x: hidden;

    &:before {
        content: '';    
        background: url(/img/bg.webp);
        background-size: 100%;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.1;
        z-index: -1;
    }

}
ul {padding: 0}
ul li {list-style-type: none}
a {
    color: var(--w);
    outline: none;
    text-decoration: none;
}
b {font-weight: bold;}
h1 {
    font-size: 5rem;
    font-weight: 400;
    line-height: 86px;
}
h2 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 30px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.button {
    background: var(--primary);
    position: relative;
    padding: 5px 20px;
    color: var(--w);
    border: 1px solid var(--primary);
    border-radius: var(--br_button);
    transition: all .2s ease-out;

    &:hover {
        background: none;
        border: 1px solid var(--primary);
        transform: translateY(-5px);
        transition: all .2s ease-out;
    }
}

@media (max-width:768px) {
h1 {
    font-size: 3rem;
    line-height: 56px;
}
}

/* Header */

header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 60px 0;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 100%;
    max-width: 80px;
}
nav {
    display: flex;
    font-size: 17px;
    font-weight: 300;
    align-items: center;
    flex-wrap: wrap;
}
nav a {
    margin: 0 0 0 20px;
    transition: all .2s ease-out;

    &:hover {
        opacity: 0.7;
        transform: translateY(-5px);
        transition: all .2s ease-out;
    }
}

@media (max-width:768px) {
header {
    padding: 40px 2rem 0;
}
nav a {
    margin: 8px 0 0 20px;
}
}

/* Main */
#top {
    position: relative;
    display: flex;
    min-height: 1000px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
.grid {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 47%;
    margin: 4rem 0 0;
    border-radius: 8rem 20px;
    border: 1px solid #ffffff14;
    z-index: -1;
}
.grid0 {
    opacity: 0;
    animation: op 2s linear 0.5s 1 normal forwards;
}
@keyframes op {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.grid1 {
    max-width: 20rem;
    height: 100%;
    top: 22rem;
    left: -20rem;
    transform: translateX(20%);
    opacity: 0;
    animation: blur 2s linear 0.5s 1 normal forwards;
}
@keyframes blur {
    0% {transform: translateY(50%);opacity: 0;}
    100% {transform: translateY(0%);opacity: 1;}
}
.tag_box {
    position: absolute;
    display: flex;
    right: 20rem;
    top: -100%;
    justify-content: center;
    animation: tag 2s linear 0.5s 1 normal forwards;
    transition: all .2s ease-out;

    &:hover {
        transform: translateY(-5px);
        transition: all .2s ease-out;
    }

    &:before {
        content: '';
        background: linear-gradient(45deg, #676767, #8b8b8b, #757575 25%);
        position: absolute;
        width: 6px;
        height: 100%;
        top: -95%;
        z-index: 1;
        border-radius: 10em;
        animation: tag_line 2s linear 0.5s 1 normal forwards;
    }
}
@keyframes tag {
    0% {top: -90%;}
    100% {top: 0;}
}
@keyframes tag_line {
    0% {
        top: -95%;
    }
    100% {
        top: -95%;
    }
}
.tag {
    width: 13rem;
}
.tag_title {
    position: absolute;
    bottom: 15%;
    right: 10rem;
}
.toptitle {
    line-height: 123px;
    text-transform: uppercase;
}
.t1 {
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 10px;
    opacity: 0;
    animation: t1 2s linear 0.5s 1 normal forwards;
    animation-delay: 1s;
}
.t2 {
    font-size: 15rem;
    font-weight: 500;
    font-style: italic;
    animation: t2 2s linear 0.5s 1 normal forwards;
    animation-delay: 1s;
    opacity: 0;
    transition: all 1s ease;

    &:hover {
        font-weight: 700;
        transition: all 1s ease;
    }
}
.t3 {
    font-size: 2rem;
    font-weight: 100;
    animation: t3 2s linear 0.5s 1 normal forwards;
    animation-delay: 3s;
    opacity: 0;
}
.t4 {
    position: relative;
    right: 4rem;
    animation: t4 2s linear 0.5s 1 normal forwards;
    animation-delay: 3s;
    opacity: 0;
    border-radius: var(--br_button);
    backdrop-filter: blur(6px);
}
.btn {
    background: linear-gradient(45deg, #4f4e4c4a, #73716936);
    background-repeat: no-repeat;
    position: relative;
    display: inline-flex;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 400;
    border: 1px solid #ffffff29;
    border-radius: var(--br_button);
    box-shadow: 0px 0px 10px -7px black;
    overflow: hidden;

    &:hover:after {
        content: "";
        position: absolute;
        top: -2em;
        left: -100%;
        width: 61px;
        height: 150px;
        background: linear-gradient(248deg, #ffffff78, #ffffff1f, transparent);
        transform: rotate(30deg);
        z-index: 1000;
        pointer-events: none;
        animation: button_hover 3s ease infinite;
    }
}
@keyframes button_hover {
    0% {
        left: -100%;
    }
    50% {
        left: 200%;
    }
    100% {
        left: -100%;
    }
    }
@keyframes t1 {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);opacity: 1;}
}
@keyframes t2 {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);opacity: 1;}
}
@keyframes t3 {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0);opacity: 1;}
}
@keyframes t4 {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0);opacity: 1;}
}
@media (max-width:768px) {
#top {
    min-height: 100vh;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.tag_box {
    right: 1rem;
}
.tag {
    width: 5rem;
    right: 13rem;
}
@keyframes tag {
    0% {
        top: -100%;
    }
    100% {
        top: 10%;
    }
}
@keyframes tag_line {
    0% {
        top: -95%;
        height: 100%;
        z-index: 1;
    }
    100% {
        height: 15%;
        top: -10%;
        z-index: 1;
    }
}
.grid {
    max-width: 100%;
    border-radius: 7rem 20px;    
}
.grid1 {
    position: absolute;
    height: auto;
    max-width: 10rem;
    top: 16rem;
    left: auto;
    right: 1rem;
    border-radius: 4rem 20px;
}
.tag_title {
    display: flex;
    width: 100%;
    top: 37%;
    right: auto;
    left: auto;
    flex-direction: column;
    align-items: center;
}
.t2 {
    font-size: 13rem;
    font-style: normal;
}
.t4 {
    margin: 0 auto;
    right: 0;
}
}

/* Product */

#product {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
#headline {
    display: flex;
    width: 100%;
    margin: 0 0 3rem;
    font-size: 6rem;
    text-align: center;
    justify-content: center;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: scale(1.5); /* Começa esticado */
    opacity: 0; /* Começa invisível */
}
.box_img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.prBox {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
    flex-direction: column;
    align-items: center;  
}
.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 4rem var(--br);
    transition: background-size 0.3s ease-out;
}
.img1 {
    background-image: url(/img/product/anel.webp);
}
.img2 {
    background-image: url(/img/product/berloque.webp);
}
.img3 {
    background-image: url(/img/product/brinco.webp);
}
.img4 {
    background-image: url(/img/product/conjunto.webp);
}
.img5 {
    background-image: url(/img/product/trio.webp);
}
.prBox span {
    background: #5131314a;
    position: absolute;
    display: inline-flex;
    bottom: 20px;
    /* left: 11px; */
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ffffff38;
    border-radius: var(--br);
    justify-content: center;
    box-shadow: 0 3px 10px -6px #271717;
    backdrop-filter: blur(5px);
}

@media (max-width:768px) {
#headline {
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
}
.box_img {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: auto;
}
}

/* Informações */

.ct_box {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 6rem auto;
    justify-content: center;
}
#ft_box {
    display: flex;
    align-items: center;
}
#ft_box i {
    font-size: 12rem;
    margin: 0 4rem 0 0;
    opacity: 0; /* Começa invisível */
    transform: translateX(-50px); /* Começa fora da tela à esquerda */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
#ft_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0; /* Começa invisível */
    transform: translateX(50px); /* Começa fora da tela à direita */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.ft_info h1 {
    max-width: 400px;
    font-size: 2rem;
    text-align: left;
}
.ft_info h2 {
    max-width: 700px;
    text-align: left;
}
.btn_info {
    margin: 2rem 0 0;
}
@media (max-width:768px) {
    #ft_box {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    #ft_box i {margin: 0}
    .ft_info h1 {
        margin: 2rem 0;
        font-size: 3rem;
        text-align: center;
        line-height: 56px;
    }
    .ft_info h2 {text-align: justify}   
    .btn_info {
        display: flex;
        justify-content: center;
    } 
}

/* Footer */
footer {
    margin: 5rem auto 0;
    width: 95%;
}
footer .container {
    background: url(/img/ft_bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    position: relative;
    display: flex;
    height: 275px;
    align-items: center;
}
footer .ct_box {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}
#contact {
    position: relative;
    width: 100%;
}
.c_icon i {
    margin: 0 9px 1rem;
    font-size: 2rem;
}
.c_icon a {
    display: inline-block;
    transition: all .2s ease-out;
}
.c_icon a {
    &:hover {
        opacity: 0.7;
        transform: translateY(-5px);
        transition: all .2s ease-out;
    }
}
#copyright {
    display: flex;
    margin: 3rem 0 0;
    font-size: 13px;
    text-align: end;
    flex-direction: column;
    align-items: center;
}
#copyright span {
    margin: 5px 0 0;
}
@media (max-width:768px) {
    footer .container {
        background-size: cover;
        background-position: center;
        height: 150px;
        border-radius: 3rem 3rem 0 0;
    }
    #copyright {
        margin: 0;
    }
}











 /* #Progress
  ================================================== */
  
  .progress-wrap {
    position: fixed;
    height: 46px;
    width: 46px;
    right: 27px;
    bottom: 35px;
    cursor: pointer;
    display: flex;
    border: 0;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px #00000028;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    justify-content: center;
    align-items: center;
}
.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.progress-wrap i {
    position: absolute;
    color: #afafaf;
}
.progress-wrap svg path { 
    fill: none; 
}
.progress-wrap svg.progress-circle path {
    stroke: #afafaf;
    stroke-width: 4;
    box-sizing:border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}  